Repository sunmoon1992/wagmi-viem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"],
  "*.{less,scss,css}": ["prettier --write", "stylelint --fix"],
  "*.{json}": ["prettier --write"]
}

fix: logic
  package.json
  src/pages/create/c/Marketplace.tsx
  src/style/pages/create/_index.less
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix: logic
  src/style/pages/_ResetArco.less
Due: prettier --write, stylelint --fix

fix: infiniteScroll support
  package.json
  src/pages/explore/c/NFTCard.tsx
  src/pages/explore/c/NFTsCard.tsx
  src/style/pages/_ResetArco.less
  src/style/pages/explore/_nfts.less
  src/style/pages/explore/c/_NFTCard.less
  yarn.lock
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix: infiniteScroll support
  index.html
  src/App.tsx
  src/pages/c/Header.tsx
  src/pages/explore/c/NFTCard.tsx
Due: prettier --write, eslint --cache --fix

fix:
  package.json
  src/App.tsx
  src/pages/c/Header.tsx
Due: prettier --write, eslint --cache --fix

fix:
  package.json
  src/App.tsx
  src/config/index.ts
  src/hooks/useGlobalInit.ts
  src/main.tsx
  src/pages/c/FastClient.tsx
  src/pages/test.tsx
  src/store/index.ts
  src/store/types.ts
  src/store/useRpcNode.ts
  src/style/base/_mixin.less
  src/style/build.mjs
  src/style/global.less
  src/style/index.less
  src/style/pages/explore/_users.less
  src/utils/callFuncHelpers.ts
  src/utils/viem.ts
  src/utils/wagmiConfig.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix:
  package.json
  src/api/index.ts
  src/utils/http.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

fix:
  index.html
  public/deeblue.svg
  public/vite.svg
  src/pages/test.tsx
Due: prettier --write, eslint --cache --fix

fix:
  src/config/index.ts
  src/config/rpcs.json
  src/main.tsx
  src/pages/c/Wallet/Account.tsx
  src/pages/test.tsx
  src/typings/index.ts
  src/utils/viem.ts
  src/utils/wagmiConfig.ts
Due: prettier --write, eslint --cache --fix

fix:
  src/pages/explore/c/NFTsCard.tsx
Due: prettier --write, eslint --cache --fix

fix: .
  src/hooks/useBalances.ts
  src/i18n/config.ts
  src/pages/test.tsx
  src/typings/index.ts
Due: prettier --write, eslint --cache --fix

fix: .
  src/config/index.ts
  src/utils/callFuncHelpers.ts
  src/utils/viem.ts
  src/utils/wagmiConfig.ts
Due: prettier --write, eslint --cache --fix

fix: .
  .yarn/install-state.gz
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  package-lock.json
  package.json
  src/App.tsx
  src/api/index.ts
  src/pages/c/Wallet/Account.tsx
  src/utils/tools.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

fix: xx
  .yarn/install-state.gz
  index.html
  package.json
  public/deeblue.svg
  public/font/Mona-Sans.woff2
  public/font/font.css
  public/soga-logo.svg
  src/App.tsx
  src/api/index.ts
  src/assets/banner2.png
  src/assets/banner3.png
  src/assets/banner4.png
  src/assets/banner5.png
  src/assets/react.svg
  src/assets/soga-icon.svg
  src/assets/soga-logo.svg
  src/assets/tg.svg
  src/assets/tw.svg
  src/hooks/useScroll2Top.ts
  src/pages/home/Footer.tsx
  src/pages/home/Header.tsx
  src/pages/home/Part1.tsx
  src/pages/home/Part2.tsx
  src/pages/home/Part3.tsx
  src/pages/home/index.tsx
  src/style/base/_colors.less
  src/style/base/_mixin.less
  src/style/base/_reset.less
  src/style/global.less
  src/style/index.less
  src/style/pages/home/index.less
  yarn.lock
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix: xx
  README.md
Due: none

fix: xx
  .yarn/install-state.gz
  index.html
  package.json
  src/assets/close.svg
  src/assets/phantom.svg
  src/components/Modals/Connect.tsx
  src/components/Modals/index.tsx
  src/graphql/demo.ts
  src/hooks/useBodyScrollLock.ts
  src/main.tsx
  src/pages/home/Header.tsx
  src/providers/ApolloClient.tsx
  src/style/base/_colors.less
  src/style/base/_reset.less
  src/style/components/Modals/_Modals.less
  src/style/index.less
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix: xx
  .yarn/install-state.gz
  package.json
  src/App.tsx
  src/assets/banner2.png
  src/assets/banner3.png
  src/assets/banner4.png
  src/assets/banner5.png
  src/assets/m-banner1.png
  src/assets/m-banner2.png
  src/assets/m-banner3.png
  src/components/Modals/index.tsx
  src/pages/c/Wallet/Account.tsx
  src/pages/c/Wallet/index.tsx
  src/pages/connect.tsx
  src/pages/home/h5/Footer.tsx
  src/pages/home/h5/Header.tsx
  src/pages/home/h5/Part1.tsx
  src/pages/home/h5/Part2.tsx
  src/pages/home/h5/Part3.tsx
  src/pages/home/h5/index.tsx
  src/pages/home/index.tsx
  src/pages/test.tsx
  src/style/components/Modals/_Modals.less
  src/style/pages/home/index.less
  yarn.lock
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix: xx
  .yarn/install-state.gz
  package.json
  src/assets/m-banner1.png
  src/assets/m-banner2.png
  src/assets/m-banner3.png
  src/components/Swiper.tsx
  src/pages/home/h5/Part3.tsx
  src/style/pages/home/index.less
  yarn.lock
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix: xx
  .yarn/install-state.gz
  src/components/Swiper.tsx
  src/hooks/useScroll2Top.ts
  src/pages/home/Part3.tsx
  src/pages/home/h5/Part3.tsx
  src/style/global.less
  src/style/pages/home/index.less
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix: xx
  .yarn/install-state.gz
  package.json
  src/App.tsx
  src/assets/copy.svg
  src/assets/log-out.svg
  src/assets/phantom.svg
  src/components/Modals/Connect.tsx
  src/config/rpcs.json
  src/main.tsx
  src/providers/WagmiClient.tsx
  src/style/components/Modals/_Modals.less
  src/style/pages/home/index.less
  src/utils/tools.ts
  src/utils/wagmiConfig.ts
  src/utils/wallets.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix: xx
  .env
  .yarn/install-state.gz
  README.md
  package.json
  src/api/index.ts
  src/atoms/useDemo.ts
  src/atoms/useNftCardSize.ts
  src/atoms/useUserInfo.ts
  src/class/Contract.ts
  src/class/Token.ts
  src/config/abi/Airdrop.json
  src/config/abi/DexNFT.json
  src/config/contracts.ts
  src/config/index.ts
  src/config/tokens.ts
  src/hooks/useAirdrop.ts
  src/hooks/useBalances.ts
  src/hooks/useConnecting.tsx
  src/hooks/useGlobalInit.ts
  src/hooks/useMounted.ts
  src/main.tsx
  src/providers/QueryClient.tsx
  src/typings/global.d.ts
  src/typings/index.ts
  src/utils/callFuncHelpers.ts
  src/utils/contractHelpers.ts
  src/utils/emitter.ts
  src/utils/tools.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

fix: xx
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: none

fix: xx
  public/font/Mona-Sans-BlackWide.otf
  src/assets/passcard.mp4
  src/pages/home/Part3.tsx
  src/pages/home/h5/Part3.tsx
  src/style/pages/home/index.less
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix: xx
  src/components/Video.tsx
  src/pages/home/Part3.tsx
  src/pages/home/h5/Part3.tsx
  src/style/pages/home/index.less
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix: xx
  src/style/pages/home/index.less
Due: prettier --write, stylelint --fix

fix: xx
  src/config/index.ts
  src/pages/home/Footer.tsx
  src/pages/home/h5/Footer.tsx
Due: prettier --write, eslint --cache --fix

fix: xx
  src/pages/home/Part1.tsx
  src/pages/home/h5/Part1.tsx
Due: prettier --write, eslint --cache --fix

fix: xx
  src/components/Modals/Connect.tsx
Due: prettier --write, eslint --cache --fix

fix: xx
  src/components/Modals/Connect.tsx
  src/components/Video.tsx
  src/pages/home/Part3.tsx
  src/pages/home/h5/Part3.tsx
  src/style/pages/home/index.less
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix: xx
  .yarn/install-state.gz
  package.json
  src/pages/home/Header.tsx
  src/pages/home/Part2.tsx
  src/pages/home/h5/Part2.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

fix: xx
  src/pages/home/Header.tsx
  src/pages/home/Part3.tsx
  src/pages/home/h5/Part2.tsx
  src/pages/home/h5/Part3.tsx
  src/style/pages/home/index.less
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix: xx
  src/pages/home/Part1.tsx
  src/pages/home/Part2.tsx
  src/pages/home/h5/Part1.tsx
  src/pages/home/h5/Part2.tsx
  src/style/pages/home/index.less
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix: xx
  src/components/Modals/Connect.tsx
  src/style/components/Modals/_Modals.less
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix: xx
  src/App.tsx
  src/components/Modals/Connect.tsx
Due: prettier --write, eslint --cache --fix

fix: xx
  src/config/index.ts
  src/pages/home/Part2.tsx
  src/pages/home/h5/Part2.tsx
Due: prettier --write, eslint --cache --fix

fix: xx
  .yarn/install-state.gz
  package.json
  src/App.tsx
  src/components/Modals/Connect.tsx
  src/components/Swiper.tsx
  src/pages/home/Header.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

feat: public sale
  .gitignore
  .yarn/install-state.gz
  package.json
  src/App.tsx
  src/pages/home/Part1.tsx
  src/pages/mint/MintNFT.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

no message
  src/App.tsx
  src/components/Modals/Connect.tsx
  src/style/components/Modals/_Modals.less
Due: prettier --write, eslint --cache --fix, stylelint --fix

no message
  src/App.tsx
  src/components/Modals/Connect.tsx
  src/pages/home/Part2.tsx
  src/pages/home/h5/Part2.tsx
Due: prettier --write, eslint --cache --fix
