Repository sunmoon1992/wagmi-viem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, stylelint --fix

fix: xx
  src/assets/banner2.png
  src/pages/home/Part1.tsx
  src/pages/home/Part2.tsx
  src/pages/home/Part3.tsx
  src/pages/home/c/Countdown.tsx
  src/pages/home/c/Features.tsx
  src/pages/home/c/Footer.tsx
  src/pages/home/c/Header.tsx
  src/pages/home/c/MyCards.tsx
  src/pages/home/c/Slogan.tsx
  src/pages/home/h5/Footer.tsx
  src/pages/home/h5/Header.tsx
  src/pages/home/h5/Part1.tsx
  src/pages/home/h5/Part2.tsx
  src/pages/home/h5/Part3.tsx
  src/pages/home/h5/index.tsx
  src/pages/home/index.tsx
  src/style/pages/home/index.less
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix:xx
  .yarn/install-state.gz
  src/config/index.ts
  src/pages/home/Part2.tsx
  src/pages/mint/MintNFT.tsx
Due: prettier --write, eslint --cache --fix

fix: xx
  src/pages/home/c/Features.tsx
Due: prettier --write, eslint --cache --fix

fix: xx
  .yarn/install-state.gz
  package.json
  src/pages/home/c/Countdown.tsx
  src/pages/home/c/Features.tsx
  src/style/pages/home/index.less
  src/utils/tools.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix: xx
  .yarn/install-state.gz
  src/pages/home/c/Slogan.tsx
Due: prettier --write, eslint --cache --fix

fixed
  vite.config.ts
Due: prettier --write, eslint --cache --fix

fix: xx
  src/pages/home/c/Features.tsx
  src/pages/home/c/Slogan.tsx
Due: prettier --write, eslint --cache --fix

fix:xx
  .yarn/install-state.gz
  src/config/index.ts
  src/pages/home/c/Features.tsx
  src/pages/home/c/Slogan.tsx
  src/pages/mint/MintNFT.tsx
  vite.config.ts
Due: prettier --write, eslint --cache --fix

fix:xx
  src/pages/home/c/Features.tsx
  src/pages/mint/MintNFT.tsx
Due: prettier --write, eslint --cache --fix

fix:button disabled
  src/pages/mint/MintNFT.tsx
Due: prettier --write, eslint --cache --fix

fix: xx
  .yarn/install-state.gz
Due: none

update address
  src/pages/mint/MintNFT.tsx
Due: prettier --write, eslint --cache --fix

disable mint
  src/pages/mint/MintNFT.tsx
Due: prettier --write, eslint --cache --fix

update rpc node
  src/App.tsx
  src/pages/mint/MintNFT.tsx
Due: prettier --write, eslint --cache --fix

fix: xx
  .yarn/install-state.gz
  src/App.tsx
  src/pages/home/h5/index.tsx
  src/pages/mint/MintNFT.tsx
  src/utils/callFuncHelpers.ts
Due: prettier --write, eslint --cache --fix

update api
  .yarn/install-state.gz
  package.json
  src/App.tsx
  src/config/index.ts
  src/pages/home/c/Features.tsx
  src/pages/mint/MintNFT.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

add user soga list
  src/pages/home/c/Features.tsx
  src/pages/home/c/MyCards.tsx
  src/pages/mint/BurnNFT.tsx
  src/pages/mint/MintNFT.tsx
Due: prettier --write, eslint --cache --fix

update button text
  src/pages/mint/MintNFT.tsx
Due: prettier --write, eslint --cache --fix

add button disable style
  src/style/pages/home/index.less
Due: prettier --write, stylelint --fix

update address
  src/App.tsx
  src/pages/mint/MintNFT.tsx
Due: prettier --write, eslint --cache --fix

update api url
  src/config/index.ts
Due: prettier --write, eslint --cache --fix

update limit
  src/config/index.ts
  src/pages/mint/MintNFT.tsx
Due: prettier --write, eslint --cache --fix

fix: xx
  .yarn/install-state.gz
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

fix: xx
  README.md
  src/App.tsx
  src/config/index.ts
  src/main.tsx
  src/pages/home/Assets.tsx
  src/pages/home/Mint.tsx
  src/pages/home/c/BurnNFT.tsx
  src/pages/home/c/Features.tsx
  src/pages/home/c/Header.tsx
  src/pages/home/c/MintNFT.tsx
  src/pages/home/c/MyCards.tsx
  src/pages/home/c/Slogan.tsx
  src/pages/home/h5/Assets.tsx
  src/pages/home/h5/Mint.tsx
  src/pages/home/h5/index.tsx
  src/pages/home/index.tsx
  src/pages/mint/BurnNFT.tsx
  src/pages/mint/MintNFT.tsx
  src/providers/QueryClient.tsx
  src/providers/WalletProvider.tsx
  src/utils/callFuncHelpers.ts
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

fix: xx
  doc.md
  src/pages/home/c/Countdown.tsx
  src/pages/home/c/MintNFT.tsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{less,scss,css})) or (any of: *.{json})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{less,scss,css}
