Repository sunmoon1992/wagmi-viem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"],
  "*.{scss,css}": ["prettier --write", "stylelint --fix"],
  "*.{json}": ["prettier --write"]
}

fix
  src/class/Token.ts
  src/hooks/useAirdrop.ts
  src/pages/Test.tsx
  src/typings/index.ts
  src/utils/callFuncHelpers.ts
  src/utils/contractHelpers.ts
Due: prettier --write, eslint --cache --fix

fix
  src/config/abi/DexNFT.json
  src/hooks/useAirdrop.ts
  src/pages/Test.tsx
  src/typings/index.ts
  src/utils/callFuncHelpers.ts
  src/utils/contractHelpers.ts
  src/utils/tools.ts
Due: prettier --write, eslint --cache --fix

fix
  .stylelintrc.json
  package.json
  src/config/contracts.ts
  src/main.tsx
  src/pages/Test.tsx
  src/style/build.js
  src/style/global.scss
  src/style/index.module.scss
  src/style/index.scss
  src/typings/index.ts
  src/utils/callFuncHelpers.ts
  src/utils/wagmiConfig.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix
  package.json
  src/config/tokens.ts
  src/hooks/useBalances.ts
  src/pages/Test.tsx
  src/typings/index.ts
  src/utils/callFuncHelpers.ts
  src/utils/tools.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

fix
  .stylelintrc.json
  package.json
  src/pages/Test.tsx
  src/style/base/_base.scss
  src/style/base/_color.scss
  src/style/base/_index.scss
  src/style/base/_reset.scss
  src/style/build.js
  src/style/global.scss
  src/style/index.scss
  src/utils/http.ts
  vite.config.ts
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix
  src/components/DropDown/index.tsx
  src/components/DropDown/interface.ts
  src/components/Wallet/Account.tsx
  src/style/components/Wallet/_Account.scss
  src/style/components/_DropDown.scss
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix
  src/components/DataItem/index.tsx
  src/components/DataItem/interface.ts
  src/components/Modal/index.tsx
  src/components/Modal/interface.ts
  src/components/Stepper/index.tsx
  src/components/Stepper/interface.ts
  src/config/tokens.ts
  src/pages/Test.tsx
  src/pages/c/Modals/Investment.tsx
  src/style/components/_DataItem.scss
  src/style/components/_Stepper.scss
  src/style/index.scss
  src/style/pages/c/_Modals.scss
Due: prettier --write, eslint --cache --fix, stylelint --fix

fix
  .lintstagedrc.json
  index.html
  package.json
  src/App.tsx
  src/components/pages/Modals/Wallet.tsx
  src/components/pages/Wallet/Account.tsx
  src/pages/c/FastClient.tsx
  src/pages/c/Footer.tsx
  src/pages/c/Header.tsx
  src/pages/c/Wallet/Account.tsx
  src/pages/c/Wallet/Connect.tsx
  src/pages/c/Wallet/index.tsx
  src/pages/connect.tsx
  src/pages/explore.tsx
  src/pages/home.tsx
  src/pages/sell.tsx
  src/pages/test.tsx
  src/style/base/_colors.less
  src/style/base/_mixin.less
  src/style/base/_reset.less
  src/style/global.less
  src/style/index.less
  src/style/pages/_connect.less
  src/style/pages/c/_Footer.less
  src/style/pages/c/_Header.less
  src/style/pages/c/_Wallet.less
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

fix
  package.json
  src/pages/c/Header.tsx
  src/pages/c/Wallet/Account.tsx
  src/pages/c/Wallet/Avatar.tsx
  src/pages/c/Wallet/Connect.tsx
  src/pages/c/Wallet/index.tsx
  src/pages/connect.tsx
  src/style/base/_reset.less
  src/style/pages/c/_Header.less
  src/style/pages/c/_Wallet.less
  src/utils/wagmiConfig.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

fix
  src/components/common/DropDown/index.tsx
  src/pages/c/Creating.tsx
  src/pages/c/Header.tsx
  src/style/components/common/_DropDown.less
  src/style/global.less
  src/style/index.less
  src/style/pages/_connect.less
  src/style/pages/c/_Header.less
  src/style/pages/c/_Wallet.less
Due: prettier --write, eslint --cache --fix

fix: logic
  public/vite.svg
  src/App.tsx
  src/assets/wallet.svg
  src/components/common/Modal/index.tsx
  src/components/common/Modal/interface.ts
  src/components/common/Null/index.tsx
  src/pages/c/Creating.tsx
  src/pages/c/Header.tsx
  src/pages/c/Wallet/Account.tsx
  src/pages/c/Wallet/Personal.tsx
  src/pages/notification.tsx
  src/style/base/_mixin.less
  src/style/components/common/_DropDown.less
  src/style/global.less
  src/style/index.less
  src/style/pages/_connect.less
  src/style/pages/_notification.less
  src/style/pages/c/_Header.less
Due: prettier --write, eslint --cache --fix

fix: logic
  src/App.tsx
  src/components/common/DropDown/index.tsx
  src/components/common/Null/index.tsx
  src/pages/c/Creating.tsx
  src/pages/c/Explore.tsx
  src/pages/c/Header.tsx
  src/pages/c/Wallet/Account.tsx
  src/pages/c/Wallet/Personal.tsx
  src/pages/explore.tsx
  src/pages/explore/c/UserCard.tsx
  src/pages/explore/collections.tsx
  src/pages/explore/index.tsx
  src/pages/explore/marketplaces.tsx
  src/pages/explore/nfts.tsx
  src/pages/explore/users.tsx
  src/pages/notification.tsx
  src/style/global.less
  src/style/index.less
  src/style/pages/_notification.less
  src/style/pages/c/_Header.less
  src/style/pages/explore/_index.less
  src/style/pages/explore/_users.less
  src/style/pages/explore/c/_UserCard.less
Due: prettier --write, eslint --cache --fix

fix: logic
  package.json
  src/pages/explore/c/UserCard.tsx
  src/pages/explore/users.tsx
  src/style/pages/explore/c/_UserCard.less
  yarn.lock
Due: prettier --write, eslint --cache --fix

fix: logic
  package.json
  src/pages/c/Header.tsx
  src/pages/c/Wallet/Avatar.tsx
  src/pages/explore/c/ChainOptions.tsx
  src/pages/explore/c/MarketOptions.tsx
  src/pages/explore/c/NFTCard.tsx
  src/pages/explore/c/NFTsCard.tsx
  src/pages/explore/c/OtherOptions.tsx
  src/pages/explore/c/PriceOptions.tsx
  src/pages/explore/c/ProjectCard.tsx
  src/pages/explore/c/ProjectInfo.tsx
  src/pages/explore/c/StatusOptions.tsx
  src/pages/explore/c/TypeOptions.tsx
  src/pages/explore/c/UserCard.tsx
  src/pages/explore/nfts.tsx
  src/style/base/_mixin.less
  src/style/global.less
  src/style/index.less
  src/style/pages/_ResetArco.less
  src/style/pages/c/_Header.less
  src/style/pages/explore/_nfts.less
  src/style/pages/explore/_users.less
  src/style/pages/explore/c/_NFTCard.less
  src/style/pages/explore/c/_ProjectCard.less
  src/style/pages/explore/c/_ProjectInfo.less
  yarn.lock
Due: prettier --write, eslint --cache --fix

fix: logic
  src/pages/explore/c/NFTCard.tsx
  src/pages/explore/c/NFTsCard.tsx
  src/pages/explore/nfts.tsx
  src/style/pages/_ResetArco.less
  src/style/pages/explore/_nfts.less
  src/style/pages/explore/c/_NFTCard.less
  src/style/pages/explore/c/_ProjectInfo.less
Due: prettier --write, eslint --cache --fix

fix: logic
  src/atoms/useNftCardSize.ts
  src/pages/explore/c/NFTCard.tsx
  src/pages/explore/c/NFTsCard.tsx
  src/pages/explore/c/ProjectCard.tsx
  src/pages/explore/c/SortOptions.tsx
  src/pages/explore/c/ViewOptions.tsx
  src/pages/explore/nfts.tsx
  src/style/base/_mixin.less
  src/style/index.less
  src/style/pages/_ResetArco.less
  src/style/pages/explore/_nfts.less
  src/style/pages/explore/c/_NFTCard.less
  src/style/pages/explore/c/_ProjectCard.less
  src/style/pages/explore/c/_ProjectInfo.less
  src/style/pages/explore/c/_ViewOptions.less
Due: prettier --write, eslint --cache --fix

fix: logic
  src/pages/explore/c/DateOptions.tsx
  src/pages/explore/c/NFTCard.tsx
  src/pages/explore/c/PriceOptions.tsx
  src/pages/explore/c/ViewOptions.tsx
  src/pages/explore/collections.tsx
  src/pages/explore/marketplaces.tsx
  src/pages/explore/nfts.tsx
  src/style/index.less
  src/style/pages/explore/_collections.less
  src/style/pages/explore/_marketplaces.less
  src/style/pages/explore/_nfts.less
  src/style/pages/explore/c/_NFTCard.less
  src/style/pages/explore/c/_ViewOptions.less
Due: prettier --write, eslint --cache --fix

fix: logic
  src/components/common/Loading.tsx
  src/components/common/Null/index.tsx
  src/components/common/Table/index.tsx
  src/components/common/Table/interface.ts
  src/pages/explore/c/DateOptions.tsx
  src/pages/explore/collections.tsx
  src/pages/explore/marketplaces.tsx
  src/pages/notification.tsx
  src/style/components/common/_Table.less
  src/style/index.less
  src/style/pages/explore/_collections.less
  src/style/pages/explore/_marketplaces.less
  src/utils/tools.ts
Due: prettier --write, eslint --cache --fix

fix: logic
  src/App.tsx
  src/atoms/useUserInfo.ts
  src/pages/c/Creating.tsx
  src/pages/c/ViewOptions.tsx
  src/pages/c/Wallet/Avatar.tsx
  src/pages/c/Wallet/Personal.tsx
  src/pages/create/index.tsx
  src/pages/explore/c/NFTCard.tsx
  src/pages/user/activity.tsx
  src/pages/user/c/Avatar.tsx
  src/pages/user/c/Media.tsx
  src/pages/user/c/OtherOptions.tsx
  src/pages/user/c/SortOptions.tsx
  src/pages/user/c/StatusOptions.tsx
  src/pages/user/c/UploadPoster.tsx
  src/pages/user/collections.tsx
  src/pages/user/config.ts
  src/pages/user/created.tsx
  src/pages/user/index.tsx
  src/pages/user/owned.tsx
  src/pages/user/sale.tsx
  src/pages/user/settings.tsx
  src/pages/user/sold.tsx
  src/style/index.less
  src/style/pages/c/_Header.less
  src/style/pages/c/_ViewOptions.less
  src/style/pages/explore/_nfts.less
  src/style/pages/explore/c/_NFTCard.less
  src/style/pages/user/_collections.less
  src/style/pages/user/_created.less
  src/style/pages/user/_index.less
  src/style/pages/user/_owned.less
  src/style/pages/user/_sale.less
  src/style/pages/user/_settings.less
  src/style/pages/user/_sold.less
Due: prettier --write, eslint --cache --fix

fix: logic
  src/App.tsx
  src/pages/create/Preview.tsx
  src/pages/create/c/Advanced.tsx
  src/pages/create/c/Collection.tsx
  src/pages/create/c/Marketplace.tsx
  src/pages/create/c/Minting.tsx
  src/pages/create/c/Network.tsx
  src/pages/create/c/Purchased.tsx
  src/pages/create/c/Upload.tsx
  src/pages/create/erc1155.tsx
  src/pages/create/erc721.tsx
  src/pages/create/index.tsx
  src/pages/user/c/Avatar.tsx
  src/pages/user/c/UploadPoster.tsx
  src/pages/user/index.tsx
  src/pages/user/settings.tsx
  src/pages/user/settings/index.tsx
  src/pages/user/settings/profile.tsx
  src/style/index.less
  src/style/pages/create/_index.less
  src/style/pages/user/_settings.less
Due: prettier --write, eslint --cache --fix

fix: logic
  src/pages/create/c/Collection.tsx
  src/pages/create/erc1155.tsx
  src/pages/create/erc721.tsx
  src/style/pages/create/_index.less
Due: prettier --write, eslint --cache --fix

fix: logic
  .eslintrc.cjs
  src/App.tsx
  src/components/common/Spin/index.tsx
  src/components/common/Stepper/index.tsx
  src/config/index.ts
  src/pages/create/c/Marketplace.tsx
  src/pages/create/standard1155.tsx
  src/pages/create/standard721.tsx
  src/pages/explore/c/ProjectInfo.tsx
  src/pages/explore/c/UserCard.tsx
  src/pages/explore/users.tsx
  src/pages/user/c/OtherOptions.tsx
  src/pages/user/c/SortOptions.tsx
  src/utils/viem.ts
Due: prettier --write, eslint --cache --fix

fix: logic
  package.json
  yarn.lock
Due: none

fix: logic
  package.json
Due: none

fix: logic
  src/components/common/DropDown/index.tsx
  src/components/common/Spin/index.tsx
  src/pages/c/Explore.tsx
  src/pages/c/ViewOptions.tsx
  src/pages/create/c/Marketplace.tsx
  src/pages/create/standard721.tsx
  src/pages/explore/c/ChainOptions.tsx
  src/pages/explore/c/DateOptions.tsx
  src/pages/explore/c/StatusOptions.tsx
  src/pages/explore/c/TypeOptions.tsx
  src/pages/explore/collections.tsx
  src/pages/explore/marketplaces.tsx
  src/pages/explore/nfts.tsx
  src/pages/user/c/StatusOptions.tsx
  src/pages/user/created.tsx
  src/pages/user/owned.tsx
  src/pages/user/sale.tsx
  src/pages/user/sold.tsx
Due: prettier --write, eslint --cache --fix

fix: logic
  src/config/index.ts
  src/pages/explore/nfts.tsx
  src/pages/test.tsx
  src/pages/user/created.tsx
  src/pages/user/owned.tsx
  src/pages/user/sale.tsx
  src/pages/user/sold.tsx
Due: prettier --write, eslint --cache --fix

fix: logic
  README.md
Due: none

fix: logic
  src/pages/c/Creating.tsx
  src/pages/c/Header.tsx
  src/pages/c/Wallet/Personal.tsx
  src/style/pages/c/_Header.less
Due: prettier --write, eslint --cache --fix

fix: logic
  src/main.tsx
Due: prettier --write, eslint --cache --fix

fix: logic
  .nvmrc
  vercel.json
Due: none

fix: logic
  src/main.tsx
  src/style/pages/_ResetArco.less
Due: prettier --write, eslint --cache --fix

fix: logic
  vercel.json
Due: none
